body{
    background-image: url("imgs/background.png");
    background-size: 50%;
}

li,a,button{
    font-size: 16px;
    color: white;
    text-decoration: none;
}

header{
    overflow: auto;
    border-radius: 25px;
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}

.logo{
    width: 20%;
    height: auto;
}

button{
    padding: 9px 25px;
    background-color: rgb(0, 218, 247);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(0, 218, 247, 0.8);
}

/*CSS Pagina Inicial_Logado*/
header a{
    margin-left: auto;
    margin-right: 10px;
}

.avatar_img{
    border: solid teal 3px;
    border-radius: 50%;
    height: 55px;
    width: 55px;
}

header p{
    color:white;
}

.dropdown{
    float: left;
    overflow: hidden;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:rgb(19, 19, 19);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(150, 150, 150, 0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: rgba(68, 68, 68, 0.342);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
/*Fim CSS Index_logado*/


.navbar{
    text-align: center;
    padding: 25px 0px;
}

.navbar ul{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(39, 39, 39);
    border-radius: 25px;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar li a:hover{
    color: tomato;
}

/*Lista de cartas*/
.cardlist_container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: solid lightgray 2px;
    overflow: auto;
    margin: auto;
    margin-bottom: 15px;
    margin-left: 15px;
    color: white;
    padding: 5px;
    float: left;
    height: auto;
    width: 70%;
    max-height: 500px;
    background-color: rgb(39, 39, 39);
}

a, span{
    overflow: hidden;
    text-overflow: ellipsis;    
}

.item_container{
    border: solid white 2px;
    border-radius: 5px;
    display: flex;
    flex-flow: column;
    background-color: rgba(80, 80, 80, 0.6);
    width: 200px;
    height: auto;
    padding: 5px;
    margin-top: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
}

.item_container img{
    position: relative;
    top: 5px
}

.item_container .item_cardimage{
    position: relative;
    margin: auto;
}

.item_container a:hover{
    color: tomato;
}

/*Fim do CSS da lista*/

/* Parte das cartas */
.card_list{
    overflow: auto;
    margin: auto;
    margin-bottom: 15px;
    margin-right: 15px;
    color: white;
    border: lightgray solid 2px;
    padding: 5px;
    float: right;
    height: auto;
    max-height: 500px;
    width: 25%;
    background-color: rgb(39, 39, 39);
}

.card_list h1{
    font-size: 35px;
    text-align: center;
    text-decoration: underline;
}

.card_container{
    padding-bottom: 5px;
    overflow: auto;
    float: left;
    color: white;
    background-color: rgba(224, 255, 255, 0.2);
    border: white solid 2px;
    width: 98%;
    height: auto;
    margin-bottom: 5px;
}

.card_container:hover{
    border: steelblue solid 2px;
    background-color: rgba(71, 71, 71, 0.2);
}

.card_container p{
    text-align: center;
    vertical-align: middle;
    display: inline;
    margin-left: auto;
}

.card_container img{
    display: inline-block;
    vertical-align: middle;
    height: 45px;
    width: 45px;
    margin-left: 10px;
}

.right_side_card{
    margin-top: 7px;
    margin-right: 15px;
    float: right;
}

.right_side_card img{
    height: 30px;
    width: 30px;
}
/*Fim CSS Cartas*/